---
apiVersion: ceph.rook.io/v1
kind: CephBlockPool
metadata:
  name: {{ rook_ceph_rbd_pool_name }}
  namespace: {{ rook_ceph_namespace }}
spec:
  failureDomain: host
  replicated:
    size: {{ rook_ceph_replication_size }}
