---
apiVersion: ceph.rook.io/v1
kind: CephCluster
metadata:
  name: {{ rook_ceph_namespace }}
  namespace: {{ rook_ceph_namespace }}
spec:
  cephVersion:
    image: {{ rook_ceph_ceph_image }}
    allowUnsupported: false

  dataDirHostPath: {{ rook_ceph_data_dir_host_path }}

  mon:
    count: {{ rook_ceph_mon_count }}
    allowMultiplePerNode: false

  mgr:
    count: {{ rook_ceph_mgr_count }}
    allowMultiplePerNode: false

  dashboard:
    enabled: true
    ssl: false

  crashCollector:
    disable: false

  storage:
    useAllNodes: false
    useAllDevices: false
    nodes:
{% for node_name in groups['kube_workers'] | sort %}
      - name: {{ node_name }}
        devices:
          - name: {{ rook_ceph_osd_device | basename }}
{% endfor %}
