---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: {{ metallb_address_pool_name }}
  namespace: {{ metallb_namespace }}
spec:
  addresses:
{% for address_range in metallb_address_pool %}
    - {{ address_range }}
{% endfor %}

---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: {{ metallb_address_pool_name }}-l2
  namespace: {{ metallb_namespace }}
spec:
  ipAddressPools:
    - {{ metallb_address_pool_name }}
